@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0B0B0C;
  color: #EAEAEA;
  font-family: Inter, sans-serif;
}

.section {
  padding: 80px 24px;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 80px;
  }
}
